eform_simpanan-development/wsdl_coreService/AppFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.bni.co.id/core">
  <xsd:complexType name="AppFault">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="errorNum" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
