eform_simpanan-development/wsdl_coreService/OpenAccountListRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.bni.co.id/core/bo">
	<xsd:complexType name="OpenAccountListRes">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="cifNum"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_1"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_2"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_3"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_4"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_5"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_6"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_7"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_8"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_9"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_10"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_11"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_12"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_13"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_14"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_15"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_16"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_17"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_18"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_19"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_20"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_21"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_22"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_23"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_24"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_25"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_26"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_27"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_28"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_29"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_30"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_31"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_32"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_33"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_34"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_35"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_36"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_37"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_38"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_39"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_40"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_41"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_42"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_43"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_44"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_45"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_46"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_47"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_48"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_49"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_50"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_51"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_52"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_53"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_54"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_55"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_56"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_57"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_58"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_59"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_60"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_61"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_62"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_63"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_64"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_65"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_66"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_67"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_68"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_69"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_70"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_71"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_72"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_73"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_74"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_75"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_76"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_77"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_78"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_79"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_80"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_81"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_82"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_83"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_84"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_85"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_86"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_87"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_88"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_89"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_90"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_91"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_92"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_93"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_94"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_95"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_96"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_97"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_98"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_99"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_100"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_101"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_102"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_103"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_104"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_105"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_106"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_107"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_108"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_109"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_110"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_111"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_112"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_113"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_114"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_115"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_116"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_117"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_118"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_119"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_120"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_121"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_122"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_123"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_124"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_125"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_126"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_127"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_128"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_129"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_130"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_131"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_132"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_133"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_134"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_135"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_136"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_137"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_138"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_139"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_140"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_141"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_142"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_143"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_144"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_145"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_146"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_147"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_148"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_149"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_150"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_151"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_152"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_153"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_154"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_155"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_156"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_157"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_158"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_159"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_160"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_161"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_162"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_163"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_164"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_165"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_166"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_167"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_168"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_169"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_170"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_171"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_172"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_173"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_174"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_175"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_176"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_177"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_178"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_179"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_180"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_181"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_182"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_183"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_184"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_185"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_186"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_187"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_188"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_189"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_190"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_191"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_192"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_193"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_194"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_195"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_196"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_197"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_198"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_199"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_200"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_201"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_202"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_203"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_204"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_205"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_206"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_207"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_208"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_209"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_210"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_211"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_212"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_213"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_214"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_215"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_216"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_217"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_218"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_219"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_220"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_221"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_222"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_223"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_224"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_225"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_226"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_227"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_228"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_229"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_230"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_231"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_232"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_233"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_234"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_235"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_236"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_237"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_238"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_239"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_240"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_241"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_242"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_243"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_244"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_245"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_246"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_247"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_248"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_249"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_250"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_251"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_252"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_253"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_254"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_255"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_256"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_257"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_258"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_259"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_260"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_261"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_262"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_263"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_264"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_265"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_266"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_267"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_268"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_269"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_270"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_271"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_272"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_273"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_274"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_275"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_276"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_277"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_278"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_279"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_280"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_281"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_282"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_283"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_284"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_285"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_286"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_287"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_288"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_289"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_290"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_291"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_292"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_293"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_294"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_295"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_296"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_297"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_298"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_299"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="account_300"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
