eform_simpanan-development/wsdl_verijelas/verijelas/Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://service.bni.co.id/verijelas"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Data">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="birthdate"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="birthplace"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="address"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="selfiePhoto"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>