eform_simpanan-development/wsdl_verijelas/verijelas/Errors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://service.bni.co.id/verijelas"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Errors">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="identityPhoto"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="message"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>