eform_simpanan-development/wsdl_otp/OtpRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://service.bni.co.id/otp"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="OtpRequest">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="applicationId"
				type="xsd:string">

			</xsd:element>


			<xsd:element minOccurs="1" name="channelId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="keyValue"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>